@page
    <script src="~/js/Poker.js"></script>
    <div class="container" >
        <link rel="stylesheet" href="~/css/site.css" type="text/css" />
        <div class="row">&nbsp;</div>
        <!--Cards-->
        <div class="row"></div>
        <div id="canvas" style="zoom: 140%;">
            <div  id="buttons" class="my-buttons">
                <input type="button" id="checkButton" value="Check" />
                <input type="button" id="foldButton" value="Fold"  />
                <input type="button" id="raiseButton" value="Raise" />
                <input type="button" id="callButton" value="Call"  />
            </div>
        </div>

    </div>
    <div class="row" style="position:absolute">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row" style="position:absolute">
        <div class="col-6">
            <ul id="messagesList">
                <li id="userList"></li>
                <li id="turnList"></li>
            </ul>
        </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Poker.js"></script>