<?xml version="1.0"?>
<configuration>
   <system.web>
    <compilation debug="true" />
  </system.web>
    <system.webServer>
      <staticContent>
        <compilation debug="true" />
        <customErrors mode="Off" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      </staticContent>
       <httpErrors errorMode="Detailed"></httpErrors>
    </system.webServer>
</configuration> 
